version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ai-concept-house-designs
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
