NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL="your_supabase_redirect_url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your_supabase_anon_key"
NEXT_PUBLIC_SUPABASE_URL="your_supabase_url"
PAYHERE_MERCHANT_SECRET="your_payhere_merchant_secret"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="your_postgres_host"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_PRISMA_URL="your_postgres_prisma_url"
POSTGRES_URL="your_postgres_url"
POSTGRES_URL_NON_POOLING="your_postgres_url_non_pooling"
POSTGRES_USER="postgres"
SUPABASE_ANON_KEY="your_supabase_anon_key"
SUPABASE_JWT_SECRET="your_supabase_jwt_secret"
SUPABASE_SERVICE_ROLE_KEY="your_supabase_service_role_key"
SUPABASE_URL="your_supabase_url"
VERCEL_OIDC_TOKEN="your_vercel_oidc_token"

GOOGLE_AI_API_KEY="your_google_ai_api_key"
SMTP_HOST="smtp.office365.com"
SMTP_PORT="587"
SMTP_USER="your_o365_email"
SMTP_PASS="your_o365_app_password"
SMTP_FROM="noreply@yourdomain.com"
ADMIN_EMAIL="admin@yourdomain.com"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
PAYHERE_MERCHANT_ID="your_payhere_merchant_id"
BLOB_READ_WRITE_TOKEN="your_vercel_blob_token"
